<!DOCTYPE html>
<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <!-- style sheet -->
    <link href="lib/css/md-data-table.min.css" rel="stylesheet" type="text/css"/>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="lib/js/angular.min.js"></script>

    <!-- TODO - save in lib  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <!-- module -->
    <script type="text/javascript" src="lib/js/md-data-table.min.js"></script>
</head>
<body ng-app="BlankApp" ng-controller="mainCtrl" ng-cloak>

    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>Loan Applications</span>
        </div>
    </md-toolbar>

    <!-- TODO - move to template -->
    <md-table-container>
        <table md-table ng-model="selected" md-progress="promise">
            <thead md-head md-order="order" md-on-reorder="loadApplications">
            <tr md-row>
                <th md-column md-order-by="personalId"><span>Personal ID</span></th>
                <th md-column md-order-by="firstName"><span>First Name</span></th>
                <th md-column md-order-by="lastName">Last Name</th>
                <th md-column md-date md-order-by="birthDate">Birth Date</th>
                <th md-column md-order-by="employer">Employer</th>
                <th md-column md-numeric md-order-by="salary">Salary</th>
                <th md-column md-numeric md-order-by="monthlyLiability">Monthly Liability</th>
                <th md-column md-numeric md-order-by="requestedAmount">Requested Amount</th>
                <th md-column md-order-by="requestedTerm">Requested Term</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="item" md-select-id="name" md-auto-select ng-repeat="item in loanApplications">
                <td md-cell>{{item.personalId}}</td>
                <td md-cell>{{item.firstName}}</td>
                <td md-cell>{{item.lastName}}</td>
                <td md-cell>{{item.birthDate}}</td>
                <td md-cell>{{item.employer}}</td>
                <td md-cell>{{item.salary}}</td>
                <td md-cell>{{item.monthlyLiability}}</td>
                <td md-cell>{{item.requestedAmount}}</td>
                <td md-cell>{{item.requestedTerm}} {{item.requestedTermUnit.toLowerCase() + '(s)'}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <script type="text/javascript" src="loanApplication/loanApplication.controller.js"></script>
</body>
</html>
